@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&family=Nunito:wght@200;300;400&family=Raleway:wght@200;300;400&display=swap');

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Maven Pro', sans-serif;
    box-sizing: border-box;
}
body{
    background-color:rgb(212, 212, 241);
}
header{
    padding-top: 8px;
}
.container{
    margin: 0 auto;
    max-width: 975px;
    background-color:rgb(241, 236, 236);
    border-radius: 20px;
    display: flex;
}
.header-container{
    height: 50px;
    display: flex;
    justify-content: space-around;
}
.header-logo{
    display: flex;
    align-items: center;
}
.header-logo>a{
    font-size: 28px;
    color: black;
}
.header-btn{
    align-items: center;
    display: flex;
    justify-content: space-around;   
    flex-basis:38%;
}
.btn{
    background-color:rgb(212, 212, 241);
    color: black;
    width: 32%;
    height: 30px;
    padding-top: 4px;
    text-align: center;
    border-radius: 25px;
    font-size: 18px;
}
.btn:hover{
    background-color: rgb(103, 61, 202);
    color: white;
    transition: all 1s;
}
.social-media{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-basis: 20%;
    display: flex;
    justify-content: space-around;
}
.social-media>a{
    font-size: 25px;
    color: black;
}
.social-media>a:hover{
    transition: all 0.5s;
    cursor: pointer;
    transform: scale(1.2);
}
section{
    margin-top: 28px;
}
.section-container{
    height: 320px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.profile{
    width:90%;
    height: 250px;
    display: flex;
    justify-content: space-evenly;
    padding-top: 12px;
}
#profile-img{
    width: 230px;
    height: 230px;
    display: flex;
    align-items: center;
}
#profile-img>img{
    width: 220px;
    height: 220px;
    border-radius: 300px;
}
#profile-img>img:hover{
    transform: scale(1.1);
    transition: all 0.5s;
}
.aboutme{
    width: 70%;
    height: 200px;
    margin-right: 12px;
    margin-top: 12px;
    display: block;
}
.aboutme h1{
    font-size: 40px;
}
.aboutme p{
    margin-top: 13px;
    font-family: "Maven Pro",sans-serif;
}
.contact{
    display: flex;
    margin-top: 19px;
}
.section-btn{
    width: 22%;
    margin-left: 8px;
    padding-top: 6px;
    font-size: 14px;
    text-align: center;
}
@media only screen and (max-width:991px){ 
    header,section{
        padding: 8PX 1% 0 1%;
    }
    .container{
        margin: 0 auto;
        max-width: 975px;
        background-color:rgb(241, 236, 236);
        border-radius: 20px;
        display: flex;
    }
    .header-container{
        height: 50px;
        display: flex;
        justify-content: space-around;
    }
    .header-logo{
        display:none;
    }
    .header-btn{
        align-items: center;
        display: flex;
        justify-content: space-around;   
        flex-basis:48%;
    }
    .social-media{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-basis: 32%;
        display: flex;
        justify-content: space-around;
    }
    .aboutme{
        width: 70%;
        height: 200px;
        margin-right: 12px;
        margin-top: 12px;
        display: block;
        margin-left: 3%;
    }
}
@media only screen and (max-width:574px){ 
    header,section{
        padding: 8PX 2% 0 2%;
    }
    .container{
        margin: 0 auto;
        max-width: 975px;
        background-color:rgb(241, 236, 236);
        border-radius: 20px;
    }
    .header-btn{
        align-items: center;
        display: flex;
        justify-content: space-around;   
        flex-basis:100%;
    }
    .social-media{
        display: none;
    }
    section{
        margin-top: 5px;
    }
    .section-container{
        height: 520px;
        display: flex;
        align-items: center;
    }
    .profile{
        width:90%;
        height: 520px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 12px;
    }    
    .profile-img{
        width: 230px;
        height: 230px;
        display: flex;
        align-items: center;
    }
    .profile-img>img{
        width: 220px;
        height: 220px;
        border-radius: 300px;
    }
    .profile-img>img:hover{
        transform: scale(1.1);
        transition: all 0.5s;
    }
    .aboutme{
        width: 70%;
        height: 300px;
        margin-right: 12px;
        margin-top: 12px;
        display: block;
        text-align: center;
    }
    .aboutme h1{
        font-size: 40px;
    }
    .aboutme p{
        margin-top: 13px;
        font-family: "Maven Pro",sans-serif;
    }
    .contact{
        width: 100%;
        font-size: 14px;
        text-align: center;
        display: flex;
        justify-content: center;
    }
    .section-btn{
        width: 38%;
        margin-left: 8px;
        padding-top: 6px;
        font-size: 14px;
        text-align: center;
    }
}